body {
    background: url('assets/xxRix8d.png') center fixed no-repeat;
    background-size: cover;
}

* {
    -webkit-user-select: none;
    color: #26474E;
    cursor: url('assets/YsnU7l5.png'), auto;
    transition: all 0.7s ease-in-out;
}

a {
    text-decoration: none;
}

[name="qt"] {
    border-radius: 50em;
}

[name="qt"]:hover {
    border-radius: 50em;
    -webkit-transform: rotateZ(360deg);
}